@model BankAccount.Models.Dtos.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post" asp-controller="Account" asp-action="Register">

    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>
</form>